photos/
music/
meow.wav
meow_quiet.wav
messages.json
message.txt
__pycache__/
scenes/__pycache__/
*.pyc
*.tmp
.lesshst
.bash_history
.bash_history-*
.gitconfig
.local/
.ssh/
scenes/Forest.png
scenes/Night.png
scenes/Ocean.png
scenes/Snow.png
